<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="navbar">
        <header>
            <div class="logo-container">
                <h1><a th:href="@{/}" style="color: white; text-decoration: none;">VetCare</a></h1>
                <img src="/images/dog-paw.png" alt="Paw icon" class="paw-icon">
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{/makebooking}">Make a Booking</a></li>
                    <li><a th:href="@{/bookings}">My Booking/s</a></li>
                    <li class="dropdown">
                        <a href="#">Medical</a>
                        <div class="dropdown-content">
                            <a th:href="@{/prescriptions}">Prescription Management</a>
                            <a th:href="@{/medical}">Medical History</a>
                        </div>
                    </li>
                    <li><a th:href="@{/resources}">Educational Resources</a></li>
                    <li class="dropdown">
                        <a href="#">Profile</a>
                        <div class="dropdown-content">
                            <a th:href="@{/signup}">Signup</a>
                            <a th:href="@{/login}">Login</a>
                            <a href="#" onclick="handleLogout()">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
</body>
</html>
