<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Make a Booking</title>
        <link rel="stylesheet" th:href="@{/css/navbar.css}">
        <link rel="stylesheet" th:href="@{/css/makeBooking.css}">
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        
        <!-- Main content for making a booking -->
        <div class="booking-container">
            <!-- Booking form or other content goes here -->
        </div>

    </body>
</html>
